.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightURL = theme.copyright.url || config.url
    - var copyrightName = theme.copyright.name || config.author
    p#host_by 
        a(href=theme.RSS)
            i(class='fa fa-rss')
        span#busuanzi_container_site_pv
            | &nbsp;
            i(class='fa fa-eye') &nbsp;
            span#busuanzi_value_site_pv
                i(class='fa fa-spinner')
            |  times, 
        span#busanzi_container_site_uv
            | &nbsp;
            i(class='fa fa-user') &nbsp;
            span#busuanzi_value_site_uv
                i(class='fa fa-spinner')
            |  times.
        br
        |  &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}]. 
        |  Powered by #[a(href='https://hexo.io/', target='_blank') Hexo] &amp; #[a(href=theme.url, target='_blank') #{theme.name}].
        br
    script(async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js")
    