.copyright
    - var currentDate = new Date();
    - var currentYear = currentDate.getFullYear();
    - var copyrightYear = ! theme.copyright.since || currentYear == theme.copyright.since ? currentYear : theme.copyright.since + ' - ' + currentYear;
    - var copyrightURL = theme.copyright.url || config.url
    - var copyrightName = theme.copyright.name || config.author
    p &copy; #{copyrightYear} #[a(href=copyrightURL) #{copyrightName}].
        br
        | Powered by #[a(href='https://hexo.io/', target='_blank') Hexo] &amp; #[a(href=theme.url, target='_blank') #{theme.name}].
    span#busuanzi_container_site_pv
        | Page View 
        span#busuanzi_value_site_pv
            i(class='fa fa-spinner')
        |  times, 
    span#busanzi_container_site_uv
        | Unique Visitor 
        span#busuanzi_value_site_uv
            i(class='fa fa-spinner')
        |  times.
    script(async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js")